.navbar{
    display:flex;
    padding: 20px 10px;
    color: black;
    align-content: space-between;
    background-color: rgb(25, 81, 165);
}

.item{
    margin-right: 10px;
}

.item a{
    text-decoration: none;
}

.item a:hover{
    text-shadow: rgb(234, 241, 241);
}