.navbar{
    display:flex;
    padding: 20px 10px;
    color: black;
    align-content: space-between;
    background-color: rgb(25, 81, 165);
}

.item{
    margin-right: 10px;
}

.navbar a{
    text-decoration: none;
    color: azure;
}

.navbar a:hover{
    color: brown;
}